<div class="text-layout">
  <h1>Pipes no tan comunes</h1>
  <p>Pipes incluídos en Angular - Usualmente en Common Module.</p>
</div>

<div class="p-grid">
  <div class="p-col">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      Saludos {{ nombre }}, es un placer
      {{ genero | i18nSelect: invitacionMapa }}
      a nuestro evento
      <button
        (click)="cambiarPersona()"
        pButton
        type="button"
        label="Cambiar persona"
        class="p-button-success"
      ></button>
    </p-fieldset>
  </div>
  <div class="p-col">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      Actualmente {{ clientes.length | i18nPlural: clientesMapa }}
      <button
        (click)="cambiarClientes()"
        pButton
        type="button"
        label="Cambiar persona"
        class="p-button-success"
      ></button>
    </p-fieldset>
  </div>
  <div class="p-col">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <b>Original</b>
      <pre>{{ clientes }}</pre>
      <b>slice:0:2</b>
      <pre>{{ clientes | slice: 0:2 }}</pre>
    </p-fieldset>
  </div>
  <div class="p-col-5">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
      <ul>
        <li *ngFor="let item of coche | keyvalue">
          {{ item.key | titlecase }}: {{ item.value }}
        </li>
      </ul>
    </p-fieldset>
  </div>
  <div class="p-col-7">
    <p-fieldset legend="Json Pipe" [toggleable]="true">
      <pre>{{ heroes | json }}</pre>
    </p-fieldset>
  </div>
  <div class="p-col">
    <p-fieldset legend="Async Pipe" [toggleable]="true">
      <p>Observable</p>
      {{ miObservable | async }}
      <p>Promesa</p>
      <p *ngIf="!(valorPromesa | async)">Resolviendo Promesa</p>
      {{ valorPromesa | async }}
    </p-fieldset>
  </div>
</div>
